html { scroll-behavior: smooth;}

body {
  margin-top: 0;
}

.header {
  width: 100%;
  height: 50px;
  background-image: url(header-img.jpg);
}
.navigation {
  width: 100%;
  height: 60px;
  background-color: #383737;
  padding-top: 15px;
  box-sizing: border-box;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
}
.navigation li {
  margin-right: 55px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}

.title {
  margin-right: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.OfficialSNS{
  display: flex;
}

table, td, th{
    border: 1px solid black;
}

h2 {
  position: relative;
  padding: 0.25em 0;
}
h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}
