html {scroll-behavior: smooth;}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
    height: 2px;
}

/*割れる画面のアニメーション*/
.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: all .2s cubic-bezier(.04, .435, .315, .9);
  transform: scaleY(1);
}
/*上の画面*/
.loader_cover-up {
    transform-origin: center top;
}

/*下の画面*/
.loader_cover-down {
    position: absolute;
    bottom: 0;
    transform-origin: center bottom;
}
/*クラス名がついたらY軸方向に0*/
.coveranime {
    transform: scaleY(0);
}

.index,.index2 {
  margin-top: 0;
  background-image: url("slowloop.png");
  background-size: cover;
}

table, td, th{border: 1px solid black;}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

h2 {
  position: relative;
  padding: 0.25em 0;
  text-align: center;
}
h2:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(230, 90, 90), transparent);
  background: linear-gradient(to right, rgb(230, 90, 90), transparent);
}

.header {
  width: 100%;
  height: 50px;
  background-image: url(header-img.jpg);
}

.navigation {
  width: 100%;
  height: 60px;
  background-color: #383737;
  padding-top: 15px;
  box-sizing: border-box;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center;
}
.navigation li {
  margin-right: 55px;
}
.navigation a {
  color: #fff;
  text-decoration: none;
}

.profile-card{
  width: 100%;
  max-width:400px;
  position: relative;
  background: #fff; /*背景の色*/
  box-shadow: 0px 1px 3px rgba(0,0,0,.18);
  overflow: hidden;
  margin: 20px auto auto auto;
}

.profile-card:before{
 width:120%;
 height:100px;
 content:"";
 transform:skew(15deg,10deg);
 background: #339900; /*斜め背景の色*/
 position:  absolute;
 top:-15%;
 left:-10%;
 z-index: 0;
}

.profile-card__inner{
 position: relative;
}

.profile-thumb{
    overflow: hidden;
    width: 110px;
    height: 110px;
    border: #fff 3px solid;
    border-radius: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: #fff;
}

.profile-thumb img{
  display: block;
    width: 100%;
    height: auto;
}

.profile-content{
  padding: 15px;
}

.profile-content span{
  display: block;
}

.profile-name{
  margin-bottom: 3px;
  font-weight: bold;
  text-align: center;
}

.profile-job{
  margin-bottom: 10px;
  font-size: 10px;
  text-align: center;
}

.profile-intro{
  font-size: 12px;
}

.news {
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.news-list {
  text-align: left;
  display: inline-block;
}

.news-frame iframe{
  height: 150px;
}

.hobby-list ul {
  border: solid 2px #339900;;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  background-color: white;
}

.hobby-list ul li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;/*ポチ消す*/
}

.hobby-list ul li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまで*/
  color: #339900;; /*アイコン色*/
}

.official{
  display: flex;
}

.sns{
  margin-left: auto;
  margin-right: auto;
}

.footer05 {
 color: #808080;
 background: #e5e5e5;
 padding: 30px;
}
.footer05 a {
 color: #808080;
 text-decoration: none;
}
.footer05 li a:hover {
 text-decoration: underline;
}
.footer05 .wrap {
 width: 90%;
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.footer05 .wrap h3 {
 margin: 0 0 10px 0;
 padding: 0;
 border-bottom: 1px #c4c4c4 solid;
}
.footer05 .wrap p {
 margin: 0;
 padding: 0 0 20px 0;
}
.footer05 .wrap .box {
 width: 22%;
}
.footer05 .wrap .box ul {
 margin: 0;
 padding: 0 0 20px 0;
 list-style: none;
}
.footer05 .wrap .copyright {
 width: 100%;
 padding: 20px 0 0 0;
}

@media only screen and (max-width: 599px) {
.footer05 .wrap {
 width: 100%;
 padding: 0 20px;
 box-sizing: border-box;
}
.footer05 .wrap h3 {
 border: none;
}
.footer05 .wrap .box {
 width: 100%;
}
.footer05 .wrap .box ul {
 border-top: 1px #c4c4c4 solid;
}
.footer05 .wrap .box ul li a {
 display: block;
 padding: 5px 15px;
 border-bottom: 1px #c4c4c4 solid;
}
}
