html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(207, 255, 207);
}

header {
    display: flex;
    background-color: gray;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

header > a {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 1%;
}

header > a > img {
    height: 80px;
}

.header-menu {
    display: flex;
    margin: auto 1%;
    width: 400px;
    list-style: none;
    gap: 10%;
}

.header-menu li {
    display: inline;
    font-size: 30px;
}

.header-menu > li > a {
    color: white;
}

.header-text {
    display: block;
    margin: auto;
}

.profile, .news-list, .hobby, .recommend, .links p, .link {
    background: rgba(255, 255, 255, 0.7);
}

.top-h2 {
    margin-top: 100px;
}

h2 {
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px white;
    font-size: 60px;
}

h2::after {
    content: "";
    display: block;
    width: 90%;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 1) 30%, rgba(255, 0, 0, 1) 70%, rgba(255, 0, 0, 0) 100%);
    border-image-slice: 1;
    margin: 0 auto;
}

.profile {
    border: 1px black solid;
    width: 80%;
    font-size: 200%;
    margin: auto;
}

.name {
    text-align: center;
}

.name > h3, p {
    margin: 5px;
}

.pro-title {
    font-weight: 500;
}

.birth, .address, .nationality, .yo, .favorite{
    background: rgb(209, 208, 208);
    border: 1px black solid;
    margin: 10px auto;
    width: 75%;
    display: flex;
}

.pro-title {
    font-weight: bold;
}

.news iframe {
    display: block;
    width: 75%;
    margin: auto;
    border: 1px black solid;
    height: 225px;
}

.news-list {
    font-size: 200%;
}

.hobby {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.hobby > ul {
    font-size: 300%;
    list-style-type: square;
}

.recommend {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.recommend > ul {
    list-style-type: square;
    font-size: 300%;
}

.links > p {
    margin: 0 auto;
    width: 75%;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 200%;
}

.link {
    display: flex;
    height: 200px;
    width: 75%;
    margin: 10px auto 10px auto;
}

.links img {
    height: 90%;
    margin: 5% 5%;
    border-radius: 50%;
}

.link-text {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}

.index2 h1 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;

}

.index2 p {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
}

.index2 h3 {
    text-align: center;
}

.twitter-tweet {
    margin: auto;
}

.wrapper div {
    position: relative;
}

footer {
    position: absolute;
    background-color: gray;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    text-align: center;
}

footer > div {
    margin: auto 10%;
}

footer > div > h3 > a{
    color: white;
    text-decoration: none;
    font-size: 200%;
}

footer >  div > a {
    color: white;
    text-decoration: none;
    font-size: 200%;
}