body{
	background-color: black;
	color: white;
}

h1{
	align-items: center;
	text-align: center;
}

.big-warming{
	color: red;
	font-size: 30px;
	border: 3px double yellow;

}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
}

h2::before,
h2::after {
	content: '';
	width: 70px;
	height: 3px;
	background-color: #e3bf00;
}

h2::before {
	margin-right: 20px;
}
h2::after {
	margin-left: 20px;
}

.link-list li {
	display: flex;
	justify-content: center;
}

.warming {
	width: 500px;
	margin-left: auto; margin-right: auto;
}

p{
	text-align: center;
}
